  .checkbox-wrapper-44 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-44 *,
  .checkbox-wrapper-44 *::before,
  .checkbox-wrapper-44 *::after {
    box-sizing: border-box;
  }

  .checkbox-wrapper-44 .toggleButton {
    cursor: pointer;
    display: block;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: transform 0.14s ease;
  }

  .checkbox-wrapper-44 .toggleButton:active {
    transform: rotateX(30deg);
  }

  .checkbox-wrapper-44 .toggleButton input + div {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: relative;
    width: 44px;
    height: 44px;
  }

  .checkbox-wrapper-44 .toggleButton input + div svg {
    fill: none;
    stroke-width: 3.6;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    z-index: 1;
    stroke-dashoffset: 124.6;
    stroke-dasharray: 0 162.6 133 29.6;
    transition: all 0.4s ease 0s;
  }

  .checkbox-wrapper-44 .toggleButton input + div::before,
  .checkbox-wrapper-44 .toggleButton input + div::after {
    content: "";
    width: 3px;
    height: 16px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
  }

.checkbox-wrapper-44 .toggleButton input + div::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.checkbox-wrapper-44 .toggleButton input + div::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

  .checkbox-wrapper-44 .toggleButton input:checked + div svg {
    stroke-dashoffset: 162.6;
    stroke-dasharray: 0 162.6 28 134.6;
    transition: all 0.4s ease 0.2s;
  }

.checkbox-wrapper-44 .toggleButton input:checked + div::before {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(45deg) scale(0.3);
}

.checkbox-wrapper-44 .toggleButton input:checked + div::after {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-45deg) scale(0.3);
}